[submodule "src/lib/imgui"]
	path = src/lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/lib/rlImGui"]
	path = src/lib/rlImGui
	url = https://github.com/raylib-extras/rlImGui
[submodule "src/lib/RICA"]
	path = src/lib/RICA
	url = https://github.com/grechka731/RICA
